body {
    font-family: "Quicksand", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.text-center {
    text-align: center;
}

@media (min-width: 30em) {
    .row {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
    .row.inverse {
        direction: rtl;
    }
    .row.inverse .col {
        direction: ltr;
    }
    .col {
        display: table-cell;
    }
}


/* Grid */


/*
.grid {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.grid>.row {
    display: table-row;
}

.grid>.row>.col {
    padding: 30px;
    display: table-cell;
}

@media (max-width: 30em) {
    .grid {
        display: block;
    }
    .grid>.row {
        display: block;
    }
    .grid>.row>.col {
        display: block;
    }
}*/


/* theme */

.logo {
    max-width: 200px;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #D32F2F, #F44336);
}

.project-name {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFCDD2;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #00BCD4;
}


/* features sections */

.features {
    text-align: center;
}

.features .col {
    padding: 30px;
    vertical-align: middle;
}


/* Cards */

.card {
    padding: 30px;
    text-align: center;
}

.card img {
    max-width: 218px;
    border-radius: 50%;
}
